/* styles/global.css */

html, body {
	touch-action: manipulation;
}
  
input, textarea, select, button {
	touch-action: manipulation;
	-webkit-user-select: none;
	user-select: none;
}

/* Ultralight */
@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-Ultralight.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-UltralightItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

/* Thin */
@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-Thin.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-ThinItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

/* Light */
@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

/* Regular */
@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

/* Medium */
@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

/* Semibold */
@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-SemiboldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

/* Heavy */
@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-Heavy.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-HeavyItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

/* Bold */
@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-Bold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-BoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}

/* Black */
@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('/fonts/sf-pro/SF-Pro-Display-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}
  

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'SF Pro Display', sans-serif !important;
}